<div class="card shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%"
  src="http://cdn.benchmark.pl/uploads/article/77312/MODERNICON/c04612e46ecfffc5723c20c66fcce73761a2f1c6.jpg"
  />

  <div class="card-body">
    <p class="card-text">Opis produktu</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary">Dodaj do koszyka</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz</button>
      </div>
      <strong class="text-info">USERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSER</strong>
      <strong class="text-muted">{{1500| currency:'PLN'}}</strong>
    </div>
  </div>
</div>
