<div class="container">
  <form id="contact" action="" method="post">
    <h3>Login into your account</h3>

    <fieldset>
      <input placeholder="Your Login" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Password" type="password" tabindex="2" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <fieldset>
      <button name="register" type="register" id="register" > >Register</button>
    </fieldset>
  </form>


</div>
