<html>
<head>
  HOME
</head>
<body>
<div class="open-sheet-new-auction" style="background: lightblue">
  <h1 class="home-title-sheet">Najnowsze aukcje</h1>
  <div class="row">
    <div class="column">
      <div class="card">PLACHOLDER ITEM 1</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 2</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 3</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 4</div>
    </div>
  </div>
</div>

<div class="opem-sheet-new-auction" style="background: lightblue">
  <h1>Popularne</h1>
  <div class="row">
    <div class="column">
      <div class="card">PLACHOLDER ITEM 1</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 2</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 3</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 4</div>
    </div>
  </div>
</div>


<div class="opem-sheet-new-auction" style="background: lightblue">
  <h1>Sprawdź oferty</h1>
  <div class="row">
    <div class="column">
      <div class="card">PLACHOLDER ITEM 1</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 2</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 3</div>
    </div>
    <div class="column">
      <div class="card">PLACHOLDER ITEM 4</div>
    </div>
  </div>
</div>



</body>
</html>
