body {
  background: #f3f5f9;
  margin: 0px;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0;
}


html, body {
  height: 100%;
}

.cart-item {
  font-size: small;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
