<nav>
  <ul>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/moda" routerLinkActive="">
        Moda</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
      </a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

    <li>
      <a routerLink="/elektronika" routerLinkActive="">
        Elektronika</a>
    </li>

  </ul>
</nav>

