<div class="wrapper">
  <nav>
    <ul>
      <li>
        <a routerLink="/category/automotive" routerLinkActive="">
          AUTOMOTIVE</a>
      </li>
      <li>
        <a routerLink="/category/beauty" routerLinkActive="">
          BEAUTY</a>
      </li>
      <li>
        <a routerLink="/category/child" routerLinkActive="">
          CHILD</a>
      </li>
      <li>
        <a routerLink="/category/culture&entertainment" routerLinkActive="">
          CULTURE</a>
      </li>
      <li>
        <a routerLink="/category/electronics" routerLinkActive="">
          ELECTRONICS</a>
      </li>
      <li>
        <a routerLink="/category/fashion" routerLinkActive="">
          FASHION</a>
      </li>
      <li>
        <a routerLink="/category/health" routerLinkActive="">
          HEALTH</a>
      </li>
      <li>
        <a routerLink="/category/home&garden" routerLinkActive="">
          HOME</a>
      </li>
      <li>
        <a routerLink="/category/property" routerLinkActive="">
          Property</a>
      </li>
      <li>
        <a routerLink="/category/sport&tourism" routerLinkActive="">
          SPORT</a>
      </li>
      <li>
        <a routerLink="/category/supermarket" routerLinkActive="">
          SUPERMARKET</a>
      </li>


    </ul>
  </nav>


</div>
<router-outlet></router-outlet>
