<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logowanie</title>

<div class="container">

    <form class="signin" th:action="@{/login}" method="post">

        <p class="alert" th:if="${param.error}" th:text="Podany login, lub hasło są niepoprawne. Spróbuj ponownie."></p>

        <h1 class="signing in">Zaloguj się</h1>
        <label for="login" class="login">Nazwa użytkownika:</label>
        <input type="login" name="username" id="login" class="form-control" placeholder="login" required autofocus>
        <label for="password" class="password">Hasło:</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="hasło" required autofocus>
        <button class="button for signing in" type="submit">Zaloguj się</button>

    </form>



</div>



</head>
<body>

</body>
</html>